#circle {
    background: green;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
       vertical-align: middle
}
DIV.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle }
